.loader-wrapper{
  display: none;
}

#formio{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 8px;
  padding:20px;
  -webkit-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.14);
-moz-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.14);
box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.14);

}
#formio .formio-form{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
#formio label{
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
#formio .form-group{
  width: 100%;
}
#formio input{
  padding: 20px 6px 20px 6px;
/*   border: none; */
/*   width: 100%;  */
/*   background-color: #fff3cc; */
}
.form-group button{
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
.formio-component-submit{
  display: flex;
  justify-content: center;
}
.form-radio{
  display: flex;
  gap: 8px;
}

[data-theme-name="Trade"] .formio-component-submit button{
  background: red;
  padding: 12px 0 12px 0;
}
[data-theme-name="Dawn"] .formio-component-submit button{
  background: #08d8c0;
  padding: 12px 0 12px 0;
}
